
.file_manager{
    margin-top: 5%;
    background-color: white;
    box-shadow: 0px 8px 11px -8px rgba(34, 60, 80, 0.09);
    margin-bottom: 15px;
    width: 320px;
    padding: 25px 20px;
    border-radius: 5px;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.file_manager_btns_container{
    display: flex;
    gap: 10px;
}
.file_manager_hr{
    background-color: grey;
    border: none;
    align-self: center;
    width: 94%;
    height: 1px;
}
.file_manager_uplouad_input{
    display: none;
    border-radius: 5px;
    padding: 8px 20px;
    cursor: pointer;
    background-color: white;
}
.file_manager_uplouad_input_label{
    border-radius: 5px;
    padding: 8px 20px;
    font-weight: normal;
    font-size: 13px;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    transition: color .3s ease-in-out,
    background-color .3s ease-in-out;
}
.file_manager_uplouad_input_label:hover{
    background-color: black;
    color:white;
}
.file_manager_input_container{
    display: flex;
}
